body {
    background-image: url('/static/Images/IMG_20210502_193013.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    align-items: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34,0.5);
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.left, .right {
    display: flex;
    gap: 15px;
}

.right {
    margin-left: auto;
}

.input, .btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.input {
    background-color: #333;
    color: white;
}

.btn {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: darkblue;
}

.graph-container {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(34, 34, 34,0.5);
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.graph-box {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 18px;
}

.graph-box canvas {
    width: 100% !important;
    height: 100% !important;
}

.table-container {
    margin-top: 20px;
    margin-right: 4%;
    margin-left: 4%;
    padding: 20px;
    background-color: rgba(34, 34, 34,0.5);
    border-radius: 15px;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

th {
    background-color: #444;
}

.info-tooltip {
    cursor: help;
    font-size: 14px;
    margin-left: 5px;
    color: blue;
}

@media (max-width: 800px) {
    .graph-container {
        grid-template-columns: 1fr;
    }
}
